/netbeans/Dejain/nbproject/private/
/netbeans/DejainExamples/build/
/netbeans/DejainExamples/dist/
/netbeans/DejainExamples/nbproject/private/
/netbeans/Dejain/dist/
/netbeans/Dejain/build/
/netbeans/DejainExamples/cache
/netbeans/DummyProject/nbproject/private/
/netbeans/DummyProject/build/
/netbeans/Jasyn/nbproject/private/
/netbeans/JasyExamples/nbproject/private/
/netbeans/Jasyn/build/
/netbeans/Jasyn/dist/
/netbeans/Jasy/nbproject/private/